table.tab3 {
	float : left;
	margin : 15px 15px 15px 0;
	width : 20%;
}

.equip {
	clear : both;
}

.beast {
	position : relative;
}

.level {
	position : absolute;
	top : 9px;
	right : 15px;
	
	font-weight : bold;

}

.p1 {
	color : #FFD600;
}

.p2 {
	color : #FF6D00;
}

.p3 {
	color : #DD2C00;
}

.p4 {
	color : #D50000;
}

.p5 {
	color : #6200EA;
}

.beast img {
	float:left;
	height : 300px;
	margin : 30px 20px;
	border : 3px solid grey;
}