

.tab2 {
	width : 100%;
	margin-top : 5px;
}

.tab2 td , .tab2 th {
	text-align : center;
}

.tab2 td:nth-child(2), .tab2 th:nth-child(2) {
	text-align :  left;
}

.tab2 td:nth-child(1), .tab2 td:nth-child(3), .tab2 td:nth-child(4) {
	width : 50px;
}

.tab2 td:nth-child(1) {
	color : #AD835A;
	font-weight : bold;	
}

.tab2 td:nth-child(3), .tab2 th:nth-child(3) {
	color : #FFF	;
	font-weight : bold;
}

.tab2 td:nth-child(4), .tab2 th:nth-child(4) {
	color : #03A9F4;
	font-weight : bold;
}

.comp .comp_spec {
	color :  orange;
}

.comp .comp_req {
	color : #00E676;
}