.tab1 {
	margin : 5px 0;
	
}

.tab1 td, .tab1 th {
	text-align : center;
	padding : 2px 25px;
}

table.float_left {
	float : left;
	margin : 0;
	width : 20%;
}

table.float_left.middle1 {
	margin : 0 2px 0 4px;
}

table.float_left.middle2 {
	margin : 0 2px 0 0;
}

p.float_left {
	clear : both;
}