.innee {
	color :  #31dc6a;
}

.passive {
	color : #9ab0d9;
}


.spec {
	width : 100%;
}

.spec td {
	vertical-align : top;
}

.spec td:nth-child(2) {
	text-align : right;
}

p {
	border: 1px solid #2d251b;
    background: #090909;
	padding : 15px;
}